* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --secondary-color: #e2eddf;
    --text-color: #575d5e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(1140px - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 173px;
    height: 57px;
    line-height: 57px;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    border: 1.5px solid var(--primary-color);
    border-radius: 40px;
    color: #fff;
    background-color: var(--primary-color);
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
}
/* header */
.header {
    padding-top: 28px;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__item {
    padding: 0 19px;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.55; /* 155.556% */
    transition: 0.25s;
    cursor: pointer;
}

.navbar__item:hover {
    text-shadow: 1px 0 0 currentColor;
    text-decoration: underline;
}

.navbar__action {
    margin-left: 69px;
}

.header-seperant {
    margin-top: 26px;
    max-width: 1140px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
}
/* hero */
.hero {
    margin-top: 60px;
    display: flex;
    align-items: center;
    column-gap: 76px;
}

.hero__thump {
    display: flex;
    column-gap: 20px;
}

.hero__img {
    width: 202px;
    min-height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__images:nth-child(2) {
    margin-top: 77px;
}
